* {
<<<<<<< HEAD
    margin:100px;
    }
    body {
    background:skyblue;
    }
=======
margin:100px;
}
body {
<<<<<<< HEAD
<<<<<<< HEAD
background:skyblue;
=======
background:red;
>>>>>>> TESTING
=======
background:green;
>>>>>>> TESTING
}
>>>>>>> DESARROLLO
